<template>
    <div>
        <!-- Page Wrapper -->

        <div
             id="page_wrapper">
            <!-- Header style 1 -->
            <header id="header" class="site-header cta_button" data-header-style="1">
                <!-- Header background -->
                <div class="kl-header-bg"></div>
                <!--/ Header background -->

                <!-- Header wrapper -->
                <div class="site-header-wrapper">
                    <!-- Header Top wrapper -->
                    <div class="site-header-top-wrapper">
                        <!-- Header Top container -->
                        <div class="siteheader-container container">
                            <!-- Header Top -->
                            <div class="site-header-row site-header-top d-flex flex-row">
                                <!-- Header Top Left Side -->
                                <div class="site-header-top-left w-md-60 w-50 d-flex justify-content-start">
                                    <!-- Header Top Social links -->

                                    <ul class="kl-header-toptext social-icons sc--clean clearfix">
                                        <!--facebook-->
                                        <li>
                                            <font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook-f' }"/>
                                        </li>
                                        <!--twitter-->
                                        <li>
                                            <font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook-f' }"/>
                                        </li>
                                        <!--dribble-->
                                        <li>
                                            <font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook-f' }"/>
                                        </li>
                                        <!--google-->
                                        <li>
                                        </li>
                                    </ul>
                                    <!--/ Header Top Social links -->
                                    <div class="clearfix visible-xxs">
                                    </div>
                                    <!-- Top Header contact text -->
                                    <div class="kl-header-toptext align-self-center">
                                        <span class="topnav-item--text">CONSULTAS? LLAMA AL: </span>
                                        <a href="tel:0900 800 900" class="fw-bold">+569 59244590</a>
                                        <font-awesome-icon icon="phone"/>
                                    </div>
                                    <!--/ Top Header contact text -->
                                </div>
                                <!--/ .site-header-top-left -->

                                <!-- Header Top Right Side -->
                                <div class="site-header-top-right w-md-40 w-50 d-flex justify-content-end">

                                    <div class="kl-header-toptext topnav support--panel align-self-center">
                                        <!-- Support panel trigger -->
                                        <label for="support_p" class="topnav-item spanel-label">
                                            <font-awesome-icon icon="info-circle"/>
                                            <span class="topnav-item--text">Preguntas frecuentes</span>
                                        </label>
                                        <!--/ Support panel trigger -->
                                    </div>

                                    <!-- Login trigger -->
                                    <div class="kl-header-toptext topnav login--panel align-self-center">
                                        <a class="topnav-item popup-with-form" href="#login_panel">
                                            <font-awesome-icon icon="sign-in-alt"/>
                                            <span class="topnav-item--text">IMC</span>
                                        </a>
                                    </div>
                                    <!--/ Login trigger -->

                                    <!-- header search -->
                                    <div id="search" class="kl-header-toptext header-search align-self-center">
                                        <font-awesome-icon icon="search"/>
                                        <div class="search-container">
                                            <form id="searchform" class="header-searchform"
                                                  action="https://www.google.com/search" method="get" target="_blank">
                                                <input id="q" name="q" maxlength="20" class="inputbox" type="text"
                                                       size="20" value="SEARCH ..."
                                                       onblur="if (this.value=='') this.value='SEARCH ...';"
                                                       onfocus="if (this.value=='SEARCH ...') this.value='';">
                                                <button type="submit" id="searchsubmit"
                                                        class="searchsubmit fas fa-search white-icon"></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--/ header search -->
                                </div>
                                <!--/ .site-header-top-right -->
                            </div>
                            <!--/ .site-header-row .site-header-top -->

                            <!-- Header separator -->
                            <div class="separator site-header-separator"></div>
                            <!--/ Header separator -->
                        </div>
                        <!--/ .siteheader-container .container -->
                    </div>
                    <!--/ Header Top wrapper -->

                    <!-- Header Main wrapper -->
                    <div class="site-header-main-wrapper d-flex">
                        <!-- Header Main container -->
                        <div class="siteheader-container container align-self-center">
                            <!-- Header Main -->
                            <div class="site-header-row site-header-main d-flex flex-row justify-content-between">
                                <!-- Header Main Left Side -->
                                <div class="site-header-main-left d-flex justify-content-start align-items-center">
                                    <!-- Logo container-->
                                    <div class="logo-container logosize--yes">
                                        <!-- Logo -->
                                        <h1 class="site-logo logo" id="logo">
                                            <router-link :to="{name: 'inicio'}">
                                                <b-img src="images/PNG.png"/>
                                            </router-link>

                                        </h1>
                                        <!--/ Logo -->
                                    </div>
                                    <!--/ logo container-->

                                    <!-- Separator -->
                                    <div class="separator visible-xxs"></div>
                                    <!--/ Separator -->
                                </div>
                                <!--/ .site-header-main-left -->

                                <!-- Header Main Center Side -->
                                <div class="site-header-main-center d-flex justify-content-center align-items-center">
                                    <!-- Main Menu wrapper -->
                                    <div class="main-menu-wrapper">
                                        <!-- main menu -->
                                        <div class="main-menu-wrapper">

                                                <b-navbar toggleable
                                                >
                                                    <b-navbar-toggle
                                                            target="nav_text_collapse"></b-navbar-toggle>

                                                    <b-collapse is-nav id="nav_text_collapse">
                                                        <b-navbar-nav

                                                        >
                                                            <b-nav-item

                                                            >
                                                                <router-link
                                                                   class="letras_nav"
                                                                        :to="{name: 'inicio'}">
                                                                    HOME
                                                                </router-link>
                                                            </b-nav-item>
                                                        </b-navbar-nav>
                                                    </b-collapse>
                                                </b-navbar>

                                        </div>


                                        <!--/ main menu -->
                                    </div>
                                    <!--/ .main-menu-wrapper -->
                                </div>
                                <!--/ .site-header-main-center -->

                                <!-- Header Main Right Side -->
                                <div class="site-header-main-right d-flex justify-content-end align-items-center">
                                    <!-- Call to action ribbon Free Quote (Contact form pop-up element) -->
                                    <div class="quote-ribbon">
                                        <div class="quote-ribbon">
                                            <router-link
                                                    class="ctabutton kl-cta-ribbon"
                                                    :to="{name: 'formulario'}">
                                                <strong>COMPRA</strong>AHORA
                                            </router-link>
                                        </div>
                                    </div>
                                    <!--/ Call to action ribbon Free Quote (Contact form pop-up element) -->
                                </div>
                                <!--/ .site-header-main-right -->
                            </div>
                            <!--/ .site-header-row .site-header-main -->
                        </div>
                        <!--/ .siteheader-container .container -->
                    </div>
                    <!--/ Header Main wrapper -->
                </div>
                <!--/ Header wrapper -->
            </header>
            <!-- / Header style 1 -->


            <!-- Slideshow - Fullscreen background image-->
            <div id="slideshow" class="kl-slideshow static-content__slideshow scrollme"
                 style="background-color: #595d61;">
                <div class="bgback">
                </div>

                <!-- Animated Sparkles -->
                <div class="th-sparkles">
                </div>
                <!--/ Animated Sparkles -->

                <!-- Static content wrapper - fullscreen mode -->
                <div class="kl-slideshow-inner static-content__wrapper static-content--fullscreen d-flex justif-content-center">
                    <!-- Static content background with animateme scroll efect -->
                    <div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75"
                         data-easing="linear" data-translatey="300" data-opacity="0.1" data-scale="1.5">
                        <!-- Background -->
                        <div class="kl-bg-source">
                            <!-- Background image -->
                            <div class="kl-bg-source__bgimage"
                                 style="background-image: url(images/slide1.jpg); background-repeat: no-repeat; background-attachment: scroll; background-position-x: center; background-position-y: center; background-size: cover;">
                            </div>
                            <!--/ Background image -->

                            <!-- Gradient overlay -->
                            <div class="kl-bg-source__overlay" style="">
                            </div>
                            <!--/ Gradient overlay -->
                        </div>
                        <!--/ Background -->
                    </div>
                    <!--/ Static content background with animateme scroll efect (.static-content__source) -->

                    <!-- Static content container -->
                    <div class="container align-self-center">
                        <!-- Container with animateme effect and safe padding default top 300px -->
                        <div class="kl-slideshow-safepadding sc__container animateme ptop-300" data-when="span"
                             data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
                            <!-- Title element -->
                            <div class="kl-title-block text-center">
                                <!-- Title with custom size, weight, color and bottom margin -->
                                <h3 class="tbk__title fs-xxxxl fw-thin black mb-20">
                                    Formulario de compras
                                </h3>

                                <!-- Sub-title with custom weight and color style -->
                                <h4 class="tbk__subtitle black fw-thin">
                                    Complete el formulario con sus datos personales para realizar la compra
                                </h4>
                            </div>
                            <!--/ Title element -->


                        </div>
                        <!--/ Container with animateme effect and safe padding default top 250px -->
                    </div>
                    <!--/ Static content container -->

                    <!-- To next section trigger (end of slideshow section) -->
                    <a class="tonext-btn js-tonext-btn" href="#" data-endof=".kl-slideshow">
                        <span class="mouse-anim-icon"></span>
                    </a>
                    <!-- To next section trigger (end of slideshow section) -->
                </div>
                <!--/ Static content wrapper - fullscreen mode -->
            </div>
            <!--/ Slideshow - Fullscreen background image -->

            <!-- Media container element + content section with custom white background color and custom paddings -->
            <!--aca va el formulario-->

            <!--secciones a renderizar-->
            <div>
                <section id="about" class="hg_section bg-white pt-100 pb-100" >
                    <div class="container-fluid">

                        <div v-if="cargando">
                            <square v-bind:loading="cargando"></square>
                        </div>
                        <div v-else>
                            <div  v-if="resultadoIMC" class="col-md-12">

                                <!-- INICIO SECCION PLANES -->
                                <div class="kl-title-block text-center">
                                    <!-- Title with custom size, weight, color and bottom margin -->
                                    <h3 class="tbk__title fs-xxxxl fw-thin black mb-20">
                                        Hola {{formulario.nombre}} tus resultados son:
                                    </h3>

                                    <!-- Sub-title with custom weight and color style -->
                                    <h4 class="tbk__subtitle black fw-thin">
                                        <p v-text="'IMC: ' + resultadoFormulario.imc"></p>
                                        <p v-text="'CONDICIÓN: ' +resultadoFormulario.condicion"></p>
                                        <p v-text="'RECOMENDACIÓN: ' +resultadoFormulario.mensaje"></p>

                                    </h4>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <!-- Title element -->
                                            <div class="kl-title-block text-center mb-30">
                                                <!-- Title with custom size and weight -->
                                                <h3 class="tbk__title fs-xl fw-extrabold">
                                                    PLANES
                                                </h3>
                                                <!--/ Title -->
                                            </div>
                                            <!--/ Title element -->
                                        </div>
                                        <!--/ col-sm-12 col-md-12 -->

                                        <div class="col-sm-12 col-md-6 col-lg-4 mb-sm-30">
                                            <!-- Media container alternative style with custom content (custom height .h-600) -->
                                            <div class="media-container media-container--type-pb h-600">
                                                <!-- Background -->
                                                <div class="kl-bg-source">
                                                    <!-- Background image -->
                                                    <div class="kl-bg-source__bgimage" style="background-image: url(images/plan1.jpg); background-repeat: repeat; background-attachment :scroll; background-position: center center; background-size: cover;">
                                                    </div>

                                                    <!-- Overlay -->
                                                    <div class="kl-bg-source__overlay" style="background: rgba(10,10,10,0.16); background: -moz-linear-gradient(top,  rgba(10,10,10,0.16) 0%, rgba(20,20,20,0.76) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,10,10,0.16)), color-stop(100%,rgba(20,20,20,0.76))); background: -webkit-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -o-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -ms-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: linear-gradient(to bottom,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%);">
                                                    </div>
                                                </div>
                                                <!--/ Background -->

                                                <!-- Media container alternative content - bottom style -->
                                                <div class="media-container-pb media-container-pb--alg-bottom text-center">
                                                    <div class="row">
                                                        <div class="col-sm-8 col-md-8 col-lg-8 offset-sm-2 offset-md-2 offset-lg-2">
                                                            <!-- Title element -->
                                                            <div class="kl-title-block text-center">
                                                                <!-- Title with custom weight and color -->
                                                                <h2 class="fw-bold white">
                                                                    INCREDULOS
                                                                </h2>

                                                                <!-- Sub-title with default template color -->
                                                                <h4 class="tbk__subtitle tcolor">
                                                                    PIERDE DE 4 A 8 KG APROX
                                                                </h4>
                                                            </div>
                                                            <!--/ Title element -->
                                                        </div>
                                                        <!--/ col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm- -->

                                                        <div class="col-sm-12 col-md-12">
                                                            <!-- Content -->
                                                            <div class="prt-hover-slidein">
                                                                <!-- Title element -->
                                                                <div class="kl-title-block text-center">
                                                                    <!-- Sub-title -->
                                                                    <h4 class="tbk__subtitle">
                                                                        Disfruta de 1 MES de tratamiento
                                                                    </h4>
                                                                </div>
                                                                <!--/ Title element -->
                                                            </div>
                                                            <!--/ Content -->
                                                        </div>
                                                        <!--/ col-sm-12 col-md-12 -->
                                                    </div>
                                                    <!--/ row -->
                                                </div>
                                                <!--/ Media container alternative content - bottom style -->
                                            </div>
                                            <!--/ Media container alternative style with custom content (custom height .h-500) -->
                                        </div>
                                        <!--/ col-sm-12 col-md-6 col-lg-4 mb-sm-30 -->

                                        <div class="col-sm-12 col-md-6 col-lg-4 mb-md-30">
                                            <!-- Media container alternative style with custom content (custom height .h-600) -->
                                            <div class="media-container media-container--type-pb h-600">
                                                <!-- Background -->
                                                <div class="kl-bg-source">
                                                    <!-- Background image -->
                                                    <div class="kl-bg-source__bgimage" style="background-image: url(images/plan2.jpg); background-repeat: repeat; background-attachment :scroll; background-position: center center; background-size: cover;">
                                                    </div>

                                                    <!-- Overlay -->
                                                    <div class="kl-bg-source__overlay" style="background: rgba(10,10,10,0.16); background: -moz-linear-gradient(top,  rgba(10,10,10,0.16) 0%, rgba(20,20,20,0.76) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,10,10,0.16)), color-stop(100%,rgba(20,20,20,0.76))); background: -webkit-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -o-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -ms-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: linear-gradient(to bottom,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%);">
                                                    </div>
                                                </div>
                                                <!--/ Background -->

                                                <!-- Media container alternative content - bottom style -->
                                                <div class="media-container-pb media-container-pb--alg-bottom text-center">
                                                    <div class="row">
                                                        <div class="col-sm-8 col-md-8 col-lg-8 offset-sm-2 offset-md-2 offset-lg-2">
                                                            <!-- Title element -->
                                                            <div class="kl-title-block text-center">
                                                                <!-- Title with custom weight and color -->
                                                                <h2 class="fw-bold white">
                                                                    <a href="https://netpatagonia.cl/doctorloyola/producto/crossbody-belt-copy/">SOBREPESO</a>
                                                                </h2>

                                                                <!-- Sub-title with default template color -->
                                                                <h4 class="tbk__subtitle tcolor">
                                                                    PIERDE DE 9 A 18 KG APROX
                                                                </h4>
                                                            </div>
                                                            <!--/ Title element -->
                                                        </div>
                                                        <!--/ col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm- -->

                                                        <div class="col-sm-12 col-md-12">
                                                            <!-- Content -->
                                                            <div class="prt-hover-slidein">
                                                                <!-- Title element -->
                                                                <div class="kl-title-block text-center">
                                                                    <!-- Sub-title -->
                                                                    <h4 class="tbk__subtitle">
                                                                        Tu mejor opción que incluye 4 MESES de tratamientos
                                                                    </h4>
                                                                </div>
                                                                <!--/ Title element -->
                                                            </div>
                                                            <!--/ Content -->
                                                        </div>
                                                        <!--/ col-sm-12 col-md-12 -->
                                                    </div>
                                                    <!--/ row -->
                                                </div>
                                                <!--/ Media container alternative content - bottom style -->
                                            </div>
                                            <!--/ Media container alternative style with custom content (custom height .h-500) -->
                                        </div>
                                        <!--/ col-sm-12 col-md-6 col-lg-4 mb-md-30 -->

                                        <div class="col-sm-12 col-md-12 col-lg-4">
                                            <!-- Media container alternative style with custom content (custom height .h-600) -->
                                            <div class="media-container media-container--type-pb h-600">
                                                <!-- Background -->
                                                <div class="kl-bg-source">
                                                    <!-- Background image -->
                                                    <div class="kl-bg-source__bgimage" style="background-image: url(images/plan3.jpg); background-repeat: repeat; background-attachment :scroll; background-position: center center; background-size: cover;">
                                                    </div>

                                                    <!-- Overlay -->
                                                    <div class="kl-bg-source__overlay" style="background: rgba(10,10,10,0.16); background: -moz-linear-gradient(top,  rgba(10,10,10,0.16) 0%, rgba(20,20,20,0.76) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,10,10,0.16)), color-stop(100%,rgba(20,20,20,0.76))); background: -webkit-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -o-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -ms-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: linear-gradient(to bottom,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%);">
                                                    </div>
                                                </div>
                                                <!--/ Background -->

                                                <!-- Media container alternative content - bottom style -->
                                                <div class="media-container-pb media-container-pb--alg-bottom text-center">
                                                    <div class="row">
                                                        <div class="col-sm-8 col-md-8 col-lg-8 offset-sm-2 offset-md-2 offset-lg-2">
                                                            <!-- Title element -->
                                                            <div class="kl-title-block text-center">
                                                                <!-- Title with custom weight and color -->
                                                                <h2 class="fw-bold white">
                                                                    OBESIDAD
                                                                </h2>

                                                                <!-- Sub-title with default template color -->
                                                                <h4 class="tbk__subtitle tcolor">
                                                                    PIERDE MAS DE 15 KG
                                                                </h4>
                                                            </div>
                                                            <!--/ Title element -->
                                                        </div>
                                                        <!--/ col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm- -->

                                                        <div class="col-sm-12 col-md-12">
                                                            <!-- Content -->
                                                            <div class="prt-hover-slidein">
                                                                <!-- Title element -->
                                                                <div class="kl-title-block text-center">
                                                                    <!-- Sub-title -->
                                                                    <h4 class="tbk__subtitle">
                                                                        Aprovecha esta oferta que incluye 7 MESES de tratamientos.
                                                                    </h4>
                                                                </div>
                                                                <!--/ Title element -->
                                                            </div>
                                                            <!--/ Content -->
                                                        </div>
                                                        <!--/ col-sm-12 col-md-12 -->
                                                    </div>
                                                    <!--/ row -->
                                                </div>
                                                <!--/ Media container alternative content - bottom style -->
                                            </div>
                                            <!--/ Media container alternative style with custom content (custom height .h-500) -->
                                        </div>
                                        <!--/ col-sm-12 col-md-12 col-lg-4 -->
                                    </div>
                                    <!--/ row -->
                                </div>
                                <!--/ container -->
                                <!-- PLANES FIN-->

                            </div>
                            <div v-else class="col-md-12">
                                <b-form @submit="calcularIMC">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!--nombre-->
                                            <b-form-group label="Ingrese su nombre:">
                                                <b-form-input
                                                        type="text"
                                                        v-model="formulario.nombre"
                                                        required
                                                        placeholder="Ingresa tu nombre completo">
                                                </b-form-input>

                                            </b-form-group>
                                            <!--telefono-->
                                            <b-form-group label="Ingrese su telefono:">
                                                <b-form-input
                                                        type="text"
                                                        v-model="formulario.telefono"
                                                        required
                                                        placeholder="Ingresa tu telefono">
                                                </b-form-input>
                                            </b-form-group>
                                        </div>
                                        <div class="col-md-6">
                                            <!--rut-->
                                            <b-form-group label="Ingrese su rut:"
                                            >
                                                <b-form-input
                                                        type="text"
                                                        v-model="formulario.rut"
                                                        required
                                                        placeholder="Ingresa tu rut">
                                                </b-form-input>
                                            </b-form-group>

                                            <!--fecha de nacimiento-->
                                            <b-form-group label="Ingrese su fecha de nacimiento:"
                                            >
                                                <b-form-input
                                                        type="date"
                                                        v-model="formulario.fechaNacimiento"
                                                        required
                                                        placeholder="Ingresa tu fecha de nacimiento">
                                                </b-form-input>

                                            </b-form-group>
                                        </div>
                                        <div class="col-md-6">
                                            <!--correo-->
                                            <b-form-group label="Ingrese su correo:">
                                                <b-form-input
                                                        type="email"
                                                        v-model="formulario.correo"
                                                        required
                                                        placeholder="Ingresa tu correo">
                                                </b-form-input>
                                            </b-form-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!--region-->
                                            <b-form-group label="Ingrese su region:">
                                                <b-form-input
                                                        type="text"
                                                        v-model="formulario.region"
                                                        required
                                                        placeholder="Ingresa tu region">
                                                </b-form-input>
                                            </b-form-group>
                                            <!--direccion-->
                                            <b-form-group label="Ingrese su direccion:"

                                            >
                                                <b-form-input
                                                        type="text"
                                                        v-model="formulario.direccion"
                                                        required
                                                        placeholder="Ingresa tu direccion">
                                                </b-form-input>

                                            </b-form-group>
                                        </div>
                                        <div class="col-md-6">
                                            <!--peso-->
                                            <b-form-group label="Ingrese su peso:">
                                                <b-form-input
                                                        type="number"
                                                        v-model="formulario.peso"
                                                        required
                                                        placeholder="Ingresa tu peso">
                                                </b-form-input>
                                            </b-form-group>
                                            <!--estatura-->
                                            <b-form-group label="Ingrese su estatura:">
                                                <b-form-input
                                                        type="number"
                                                        v-model="formulario.estatura"
                                                        required
                                                        placeholder="Ingresa tu estatura">
                                                </b-form-input>

                                            </b-form-group>

                                        </div>
                                    </div>
                                    <b-form-group label="¿Tiene alguna enfermedad en tratamiento?">
                                        <b-form-radio-group id="radiotratamiento" v-model="formulario.enfermedadTratamiento"
                                                            name="radiotratamiento">
                                            <b-form-radio value="SI">Si</b-form-radio>
                                            <b-form-radio value="No">No</b-form-radio>
                                        </b-form-radio-group>
                                    </b-form-group>
                                    <!--trigger-->
                                    <b-form-group v-if="formulario.enfermedadTratamiento === 'SI'"
                                                  label="Describa su enfermedad en tratamiento">
                                        <b-form-textarea id="enfermedadTratamientoDesc"
                                                         state="invalid"
                                                         v-model.trim="formulario.enfermedadTratamientoDescripcion"

                                                         :rows="10">

                                        </b-form-textarea>
                                    </b-form-group>

                                    <b-form-group label="¿Padece de alguna enfermedad?">
                                        <b-form-radio-group id="radiopadece" v-model="formulario.enfermedadPadecida"
                                                            name="radiopadece">
                                            <b-form-radio value="SI">Si</b-form-radio>
                                            <b-form-radio value="No">No</b-form-radio>
                                        </b-form-radio-group>
                                    </b-form-group>
                                    <!--trigger-->
                                    <b-form-group v-if="formulario.enfermedadPadecida=== 'SI'" label="Describa su enfermedad">
                                        <b-form-textarea id="enfermedadTratamientoDesc"
                                                         state="invalid"
                                                         v-model.trim="formulario.enfermedadPadecidaDescripcion"

                                                         :rows="10">

                                        </b-form-textarea>
                                    </b-form-group>

                                    <b-form-group label="¿Estas tomando farmacos?">
                                        <b-form-radio-group id="radiofarmacos" v-model="formulario.farmacos"
                                                            name="radiofarmacos">
                                            <b-form-radio value="SI">Si</b-form-radio>
                                            <b-form-radio value="No">No</b-form-radio>
                                        </b-form-radio-group>
                                    </b-form-group>
                                    <!--trigger-->
                                    <b-form-group
                                            v-if="formulario.farmacos=== 'SI'"
                                            label="Describa sus farmacos">
                                        <b-form-textarea id="farmacosDesc"
                                                         state="invalid"
                                                         v-model.trim="formulario.farmacosDescripcion"
                                                         :rows="10">

                                        </b-form-textarea>
                                    </b-form-group>

                                    <b-form-group label="¿Enfermedades cardiacas?">
                                        <b-form-radio-group id="radioCardiacas" v-model="formulario.enfermedadesCardiacas"
                                                            name="radioCardiacas">
                                            <b-form-radio value="SI">Si</b-form-radio>
                                            <b-form-radio value="No">No</b-form-radio>
                                        </b-form-radio-group>
                                    </b-form-group>
                                    <b-form-group label="¿Depresion?">
                                        <b-form-radio-group id="radiodepresion" v-model="formulario.depresion"
                                                            name="radiodepresion">
                                            <b-form-radio value="SI">Si</b-form-radio>
                                            <b-form-radio value="No">No</b-form-radio>
                                        </b-form-radio-group>
                                    </b-form-group>
                                    <b-button type="submit"  variant="primary">Calcular</b-button>
                                </b-form>
                            </div>
                        </div>
                        <!--/ row gutter-lg -->
                    </div>
                    <!--/ container-fluid -->
                </section>
            </div>

            <!--/ Media container element + content section with custom white background color and custom paddings -->
            <!-- INICIO SECCION PLANES -->


            <!-- Footer - Default Style 1 -->
            <footer id="footer" data-footer-style="1">
                <div class="container">
                    <div class="row">
                    </div>
                    <!--/ row -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="bottom clearfix">
                                <!-- social-icons -->
                                <ul class="social-icons sc--clean clearfix">
                                    <li class="title">SIGUENOS</li>
                                    <li><a href="#" target="_self" class="fab fa-facebook-f" title="Facebook"></a></li>
                                    <li><a href="#" target="_self" class="fab fa-twitter" title="Twitter"></a></li>
                                    <li><a href="#" target="_self" class="fab fa-dribbble" title="Dribbble"></a></li>
                                    <li><a href="#" target="_self" class="fab fa-google-plus-g" title="Google Plus"></a>
                                    </li>
                                </ul>
                                <!--/ social-icons -->

                                <!-- copyright -->
                                <div class="copyright">
                                    <a href="index.html">

                                        <b-img src="images/PNG-footer.png"/>


                                    </a>

                                    <p>
                                        © 2019 Sitio web desarrollado por <a href="http://www.netpatagonia.cl">Net
                                        Patagonia - Diseño web y marketing digital</a>.
                                    </p>
                                </div>
                                <!--/ copyright -->
                            </div>
                            <!--/ bottom -->
                        </div>
                        <!--/ col-sm-12 -->
                    </div>
                    <!--/ row -->
                </div>
                <!--/ container -->
            </footer>
            <!--/ Footer - Default Style 1 -->
        </div>
        <!--/ Page Wrapper -->

    </div>
</template>

<script>
    export default {

        data() {
            return {
                formulario: {
                    nombre: '',
                    rut: '',
                    correo: '',
                    telefono: '',
                    region: '',
                    direccion: '',
                    edad: 0,
                    fechaNacimiento: '',
                    peso: 0,
                    estatura: 0,
                    enfermedadTratamiento: '',
                    enfermedadTratamientoDescripcion: '',
                    enfermedadPadecida: '',
                    enfermedadPadecidaDescripcion: '',
                    farmacos: '',
                    farmacosDescripcion: '',
                    enfermedadesCardiacas: '',
                    depresion: ''
                },
                resultadoFormulario: {
                imc: 0,
                    condicion: '',
                    mensaje: ''
            },
            mensaje: 'cargando...',
                resultadoIMC: false,
                cargando: false
            }
        },
        methods: {
            calcularIMC(evt) {
                evt.preventDefault();
                this.cargando = true;
                axios.get('api/calcularIMC', {params: {peso: this.formulario.peso, estatura: this.formulario.estatura}})
                    .then(response => {
                        this.resultadoFormulario.imc = response.data.imc;
                        this.resultadoFormulario.condicion = response.data.condicion;
                        this.resultadoFormulario.mensaje = response.data.mensaje;
                        this.resultadoIMC = true;
                        this.cargando = false;
                    });

            }
        }
    }
</script>

<style scoped>
    .letras_nav{
        color: white;
        font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial","sans-serif";
        font-size: 0.7rem;
    }
</style>