<template>
<div>
    <!-- Support Panel -->
    <input type="checkbox" id="support_p" class="panel-checkbox">
    <div class="support_panel">
        <div class="support-close-inner">
            <label for="support_p" class="spanel-label inner">
                <span class="support-panel-close">×</span>
            </label>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-9">
                    <!-- Title -->
                    <h4 class="m_title mb-20">
                        PREGUNTAS FRECUENTES
                    </h4>

                    <!-- Content - how to shop steps -->
                    <div class="m_content how_to_shop">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="number">1</span> Login or create new account.
                            </div>
                            <!--/ col-sm-4 -->

                            <div class="col-sm-4">
                                <span class="number">2</span> Review your order.
                            </div>
                            <!--/ col-sm-4 -->

                            <div class="col-sm-4">
                                <span class="number">3</span> Payment <strong>FREE</strong> shipment
                            </div>
                            <!--/ col-sm-4 -->
                        </div>
                        <!--/ row -->

                        <p>
                            If you still have problems, please let us know, by sending an email to support@website.com . Thank you!
                        </p>
                    </div>
                    <!--/ Content - how to shop steps -->
                </div>
                <!--/ col-sm-12 col-md-12 col-lg-9 -->

                <div class="col-sm-12 col-md-12 col-lg-3">
                    <!-- Title -->
                    <h4 class="m_title mb-20">
                        HORARIO DE ATENCIÓN
                    </h4>

                    <!-- Content -->
                    <div class="m_content">
                        Lun-Vie 9:00AM - 6:00AM<br>
                        Sab - 9:00AM-5:00PM<br>
                    </div>
                    <!--/ Content -->
                </div>
                <!--/ col-sm-12 col-md-12 col-lg-3 -->
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </div>
    <!--/ Support Panel -->


    <!-- Page Wrapper -->
    <div id="page_wrapper">
        <!-- Header style 1 -->
        <header id="header" class="site-header cta_button" data-header-style="1">
            <!-- Header background -->
            <div class="kl-header-bg"></div>
            <!--/ Header background -->

            <!-- Header wrapper -->
            <div class="site-header-wrapper">
                <!-- Header Top wrapper -->
                <div class="site-header-top-wrapper">
                    <!-- Header Top container -->
                    <div class="siteheader-container container">
                        <!-- Header Top -->
                        <div class="site-header-row site-header-top d-flex flex-row">
                            <!-- Header Top Left Side -->
                            <div class="site-header-top-left w-md-60 w-50 d-flex justify-content-start">
                                <!-- Header Top Social links -->

                                <ul class="kl-header-toptext social-icons sc--clean clearfix">
<!--facebook-->
                                    <li>
                                        <font-awesome-icon   :icon="{ prefix: 'fab', iconName: 'facebook-f' }"/>
                                    </li>
<!--twitter-->
                                    <li>
                                        <font-awesome-icon   :icon="{ prefix: 'fab', iconName: 'facebook-f' }"/>
                                    </li>
<!--dribble-->
                                    <li>
                                        <font-awesome-icon   :icon="{ prefix: 'fab', iconName: 'facebook-f' }"/>
                                    </li>
<!--google-->
                                    <li>
                                    </li>
                                </ul>
                                <!--/ Header Top Social links -->
                                <div class="clearfix visible-xxs">
                                </div>
                                <!-- Top Header contact text -->
                                <div class="kl-header-toptext align-self-center">
                                    <span class="topnav-item--text">CONSULTAS? LLAMA AL: </span>
                                    <a href="tel:0900 800 900" class="fw-bold">+569 59244590</a>
                                    <font-awesome-icon icon="phone"/>
                                </div>
                                <!--/ Top Header contact text -->
                            </div>
                            <!--/ .site-header-top-left -->

                            <!-- Header Top Right Side -->
                            <div class="site-header-top-right w-md-40 w-50 d-flex justify-content-end">

                                <div class="kl-header-toptext topnav support--panel align-self-center">
                                    <!-- Support panel trigger -->
                                    <label for="support_p" class="topnav-item spanel-label">
                                        <font-awesome-icon   icon="info-circle"/>
                                        <span class="topnav-item--text">Preguntas frecuentes</span>
                                    </label>
                                    <!--/ Support panel trigger -->
                                </div>

                                <!-- Login trigger -->
                                <div class="kl-header-toptext topnav login--panel align-self-center">
                                    <a class="topnav-item popup-with-form" href="#login_panel">
                                        <font-awesome-icon   icon="sign-in-alt"/>
                                        <span class="topnav-item--text">IMC</span>
                                    </a>
                                </div>
                                <!--/ Login trigger -->

                                <!-- header search -->
                                <div id="search" class="kl-header-toptext header-search align-self-center">
                                    <font-awesome-icon   icon="search"/>
                                    <div class="search-container">
                                        <form id="searchform" class="header-searchform" action="https://www.google.com/search" method="get" target="_blank">
                                            <input id="q" name="q" maxlength="20" class="inputbox" type="text" size="20" value="SEARCH ..." onblur="if (this.value=='') this.value='SEARCH ...';" onfocus="if (this.value=='SEARCH ...') this.value='';">
                                            <button type="submit" id="searchsubmit" class="searchsubmit fas fa-search white-icon"></button>
                                        </form>
                                    </div>
                                </div>
                                <!--/ header search -->
                            </div>
                            <!--/ .site-header-top-right -->
                        </div>
                        <!--/ .site-header-row .site-header-top -->

                        <!-- Header separator -->
                        <div class="separator site-header-separator"></div>
                        <!--/ Header separator -->
                    </div>
                    <!--/ .siteheader-container .container -->
                </div>
                <!--/ Header Top wrapper -->

                <!-- Header Main wrapper -->
                <div class="site-header-main-wrapper d-flex">
                    <!-- Header Main container -->
                    <div class="siteheader-container container align-self-center">
                        <!-- Header Main -->
                        <div class="site-header-row site-header-main d-flex flex-row justify-content-between">
                            <!-- Header Main Left Side -->
                            <div class="site-header-main-left d-flex justify-content-start align-items-center">
                                <!-- Logo container-->
                                <div class="logo-container logosize--yes">
                                    <!-- Logo -->
                                    <h1 class="site-logo logo" id="logo">
                                        <router-link :to="{name: 'inicio'}">
                                            <b-img src="images/PNG.png"/>
                                        </router-link>

                                    </h1>
                                    <!--/ Logo -->
                                </div>
                                <!--/ logo container-->

                                <!-- Separator -->
                                <div class="separator visible-xxs"></div>
                                <!--/ Separator -->
                            </div>
                            <!--/ .site-header-main-left -->

                            <!-- Header Main Center Side -->
                            <div class="site-header-main-center d-flex justify-content-center align-items-center">
                                <!-- Main Menu wrapper -->
                                <div class="main-menu-wrapper" >
                                    <!-- main menu -->
                                    <b-navbar toggleable
                                              type="light"
                                    >
                                            <b-navbar-toggle
                                                    style="color: #ffff"
                                                    target="nav_text_collapse"></b-navbar-toggle>
                                            <b-collapse is-nav id="nav_text_collapse">
                                                <b-navbar-nav

                                                >
                                                    <b-nav-item

                                                    >
                                                        <router-link
                                                                class="letras_nav"
                                                                :to="{name: 'inicio'}">
                                                            HOME
                                                        </router-link>
                                                    </b-nav-item>
                                                    <b-nav-item

                                                    >
                                                        <router-link
                                                                class="letras_nav"
                                                                :to="{name: 'inicio'}">
                                                            NUTRICIÓN
                                                        </router-link>
                                                    </b-nav-item>
                                                    <b-nav-item

                                                    >
                                                        <router-link
                                                                class="letras_nav"
                                                                :to="{name: 'inicio'}">
                                                            EDUCACIÓN
                                                        </router-link>
                                                    </b-nav-item>
                                                    <b-nav-item

                                                    >
                                                        <router-link
                                                                class="letras_nav"
                                                                :to="{name: 'inicio'}">
                                                            DEPORTE
                                                        </router-link>
                                                    </b-nav-item>
                                                    <b-nav-item

                                                    >
                                                        <router-link
                                                                class="letras_nav"
                                                                :to="{name: 'calculadora'}">
                                                            CALCULA TU IMC
                                                        </router-link>
                                                    </b-nav-item>
                                                    <b-nav-item

                                                    >
                                                        <router-link
                                                                class="letras_nav"
                                                                :to="{name: 'inicio'}">
                                                            CONTACTO
                                                        </router-link>
                                                    </b-nav-item>

                                                </b-navbar-nav>
                                            </b-collapse>
                                        </b-navbar>
                                    <!--/ main menu -->
                                </div>
                                <!--/ .main-menu-wrapper -->
                            </div>
                            <!--/ .site-header-main-center -->

                            <!-- Header Main Right Side -->
                            <div class="site-header-main-right d-flex justify-content-end align-items-center">
                                <!-- Call to action ribbon Free Quote (Contact form pop-up element) -->
                                <div class="quote-ribbon">
                                    <router-link
                                            class="ctabutton kl-cta-ribbon"
                                            :to="{name: 'formulario'}">
                                        <strong>COMPRA</strong>AHORA
                                    </router-link>
                                </div>
                                <!--/ Call to action ribbon Free Quote (Contact form pop-up element) -->
                            </div>
                            <!--/ .site-header-main-right -->
                        </div>
                        <!--/ .site-header-row .site-header-main -->
                    </div>
                    <!--/ .siteheader-container .container -->
                </div>
                <!--/ Header Main wrapper -->
            </div>
            <!--/ Header wrapper -->
        </header>
        <!-- / Header style 1 -->


        <!-- Slideshow - Fullscreen background image-->
        <div id="slideshow" class="kl-slideshow static-content__slideshow scrollme" style="background-color: #595d61;">
            <div class="bgback">
            </div>

            <!-- Animated Sparkles -->
            <div class="th-sparkles">
            </div>
            <!--/ Animated Sparkles -->

            <!-- Static content wrapper - fullscreen mode -->
            <div class="kl-slideshow-inner static-content__wrapper static-content--fullscreen d-flex justif-content-center">
                <!-- Static content background with animateme scroll efect -->
                <div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1" data-scale="1.5">
                    <!-- Background -->
                    <div class="kl-bg-source">
                        <!-- Background image -->
                        <div class="kl-bg-source__bgimage" style="background-image: url(images/slide1.jpg); background-repeat: no-repeat; background-attachment: scroll; background-position-x: center; background-position-y: center; background-size: cover;">
                        </div>
                        <!--/ Background image -->

                        <!-- Gradient overlay -->
                        <div class="kl-bg-source__overlay" style="">
                        </div>
                        <!--/ Gradient overlay -->
                    </div>
                    <!--/ Background -->
                </div>
                <!--/ Static content background with animateme scroll efect (.static-content__source) -->

                <!-- Static content container -->
                <div class="container align-self-center">
                    <!-- Container with animateme effect and safe padding default top 300px -->
                    <div class="kl-slideshow-safepadding sc__container animateme ptop-300" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
                        <!-- Title element -->
                        <div class="kl-title-block text-center">
                            <!-- Title with custom size, weight, color and bottom margin -->
                            <h3 class="tbk__title fs-xxxxl fw-thin black mb-20">
                                Doctor Loyola
                            </h3>

                            <!-- Sub-title with custom weight and color style -->
                            <h4 class="tbk__subtitle black fw-thin">
                                Produced by methods that comply with the standards of organic farming. Standards vary worldwide, <br>
                                but organic farming in general features practices that strive to cycle resources, promote ecological balance, and conserve biodiversity.
                            </h4>
                        </div>
                        <!--/ Title element -->

                        <!-- Buttons wrapper -->
                        <div class="text-center">
                            <!-- Button skewed lined medium -->
                            <a href="#" class="btn-element btn btn-lined btn-skewed btn-md btn-forth" target="_self" title="MENU">
                                <span>Agenda tu hora Aquí</span>
                            </a>
                        </div>
                        <!--/ Buttons wrapper -->


                    </div>
                    <!--/ Container with animateme effect and safe padding default top 250px -->
                </div>
                <!--/ Static content container -->

                <!-- To next section trigger (end of slideshow section) -->
                <a class="tonext-btn js-tonext-btn" href="#" data-endof=".kl-slideshow">
                    <span class="mouse-anim-icon"></span>
                </a>
                <!-- To next section trigger (end of slideshow section) -->
            </div>
            <!--/ Static content wrapper - fullscreen mode -->
        </div>
        <!--/ Slideshow - Fullscreen background image -->

        <!-- Media container element + content section with custom white background color and custom paddings -->
        <section id="about" class="hg_section bg-white pt-100 pb-100">
            <div class="container-fluid">
                <div class="row gutter-lg">
                    <div class="col-sm-12 col-md-12 col-lg-5 mb-md-50">
                        <!-- Media container style 2 element - with custom height(.h-520) -->
                        <div class="media-container style2 h-520">
                            <!-- Background source -->
                            <div class="kl-bg-source">
                                <!-- Background image -->
                                <b-img src="images/loyola1.jpg"/>
                                <!--/ Background image -->

                                <!-- Gradient overlay -->
                                <div class="kl-bg-source__overlay" style="background: rgba(137,173,178,0.3); background: -moz-linear-gradient(left, rgba(137,173,178,0.3) 0%, rgba(53,53,53,0.65) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(137,173,178,0.3)), color-stop(100%,rgba(53,53,53,0.65))); background: -webkit-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: -o-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: -ms-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: linear-gradient(to right, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%);">
                                </div>
                                <!--/ Gradient overlay -->
                            </div>
                            <!--/ Background source -->

                            <!-- media container link button -->
                            <a class="media-container__link media-container__link--btn media-container__link--style-borderanim2 " href="https://www.youtube.com/watch?v=cVt-3vbENOQ" data-lightbox="iframe">
                                <!-- SVG border -->
                                <div class="borderanim2-svg">
                                    <!-- svg -->
                                    <svg height="70" width="400" xmlns="http://www.w3.org/2000/svg">
                                        <rect class="borderanim2-svg__shape" height="70" width="400"></rect>
                                    </svg>
                                    <!--/ svg -->

                                    <!-- Button text -->
                                    <span class="media-container__text">
										Carlos Loyola
									</span>
                                </div>
                                <!--/ SVG border -->
                            </a>
                            <!--/ media container link button -->
                        </div>
                        <!--/ Media container style 2 element - with custom height(.h-520) -->
                    </div>
                    <!--/ col-sm-12 col-md-12 col-lg-5 mb-md-50 -->

                    <div class="col-sm-12 col-md-12 col-lg-7">
                        <div class="row hg_col_eq_last">
                            <div class="col-sm-12 col-md-12">
                                <!-- Title element with custom bottom padding -->
                                <div class="kl-title-block text-left tbk-symbol--line tbk-icon-pos--after-title pb-0">
                                    <!-- Title with custom alternative font, size and weight style -->
                                    <h3 class="tbk__title kl-font-alt fs-xxl fw-thin">
                                        Bienestar y Salud
                                    </h3>

                                    <!-- Title line symbol -->
                                    <span class="tbk__symbol">
										<span></span>
									</span>
                                    <!--/ Title line symbol -->

                                    <!-- Sub-title with custom size and weight style -->
                                    <h4 class="tbk__subtitle fs-s fw-vthin">
                                        Our Chefs offer you perfect cooking, best served dishes with fresh ingredients and old recipes. We provide you with daily self-made bread, sourdough pizza, roasted fish-meat-vegetables and many more.
                                    </h4>
                                </div>
                                <!--/ Title element with custom bottom padding -->

                                <!-- Separator style 2 -->
                                <div class="hg_separator style2 clearfix">
                                </div>
                                <!--/ Separator style 2 -->
                            </div>
                            <!--/ col-sm-12 col-md-12 -->

                            <div class="col-sm-12 col-md-8">
                                <!-- Text box element -->
                                <div class="text_box">
                                    <p>
                                        Whether you are hosting a small, intimate gathering or a glamorous affair, our private chef services will take care of all the Essential details.
                                    </p>

                                    <p>
                                        We have designed our catering services to be exactly what you need.
                                    </p>
                                </div>
                                <!--/ Text box element -->
                            </div>
                            <!--/ col-sm-12 col-md-8 -->

                            <div class="col-sm-12 col-md-4">
                                <!-- Video box pop-up (adbox) element -->
                                <div class="adbox video">
                                    <!-- Background image -->
                                    <b-img src="images/loyola_video.png"/>



                                    <!-- Video trigger wrapper -->
                                    <div class="video_trigger_wrapper">
                                        <!-- Video box container -->
                                        <div class="adbox_container">
                                            <!-- Video link -->
                                            <a href="https://www.youtube.com/watch?v=cVt-3vbENOQ" class="playVideo" data-lightbox="iframe" title="Restaurant"></a>
                                        </div>
                                        <!--/ Video box container -->
                                    </div>
                                    <!--/ Video trigger wrapper -->
                                </div>
                                <!--/ Video box pop-up (adbox) element -->
                            </div>
                            <!--/ col-sm-12 col-md-4 -->
                        </div>
                        <!--/ row hg_col_eq_last -->
                    </div>
                    <!--/ col-sm-12 col-md-12 col-lg-7 -->
                </div>
                <!--/ row gutter-lg -->
            </div>
            <!--/ container-fluid -->
        </section>
        <!--/ Media container element + content section with custom white background color and custom paddings -->
        <!-- INICIO SECCION PLANES -->
        <section class="hg_section pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <!-- Title element -->
                        <div class="kl-title-block text-center mb-30">
                            <!-- Title with custom size and weight -->
                            <h3 class="tbk__title fs-xl fw-extrabold">
                                PLANES
                            </h3>
                            <!--/ Title -->
                        </div>
                        <!--/ Title element -->
                    </div>
                    <!--/ col-sm-12 col-md-12 -->

                    <div class="col-sm-12 col-md-6 col-lg-4 mb-sm-30">
                        <!-- Media container alternative style with custom content (custom height .h-600) -->
                        <div class="media-container media-container--type-pb h-600">
                            <!-- Background -->
                            <div class="kl-bg-source">
                                <!-- Background image -->
                                <div class="kl-bg-source__bgimage" style="background-image: url(images/plan1.jpg); background-repeat: repeat; background-attachment :scroll; background-position: center center; background-size: cover;">
                                </div>

                                <!-- Overlay -->
                                <div class="kl-bg-source__overlay" style="background: rgba(10,10,10,0.16); background: -moz-linear-gradient(top,  rgba(10,10,10,0.16) 0%, rgba(20,20,20,0.76) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,10,10,0.16)), color-stop(100%,rgba(20,20,20,0.76))); background: -webkit-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -o-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -ms-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: linear-gradient(to bottom,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%);">
                                </div>
                            </div>
                            <!--/ Background -->

                            <!-- Media container alternative content - bottom style -->
                            <div class="media-container-pb media-container-pb--alg-bottom text-center">
                                <div class="row">
                                    <div class="col-sm-8 col-md-8 col-lg-8 offset-sm-2 offset-md-2 offset-lg-2">
                                        <!-- Title element -->
                                        <div class="kl-title-block text-center">
                                            <!-- Title with custom weight and color -->
                                            <h2 class="fw-bold white">
                                                INCREDULOS
                                            </h2>

                                            <!-- Sub-title with default template color -->
                                            <h4 class="tbk__subtitle tcolor">
                                                PIERDE DE 4 A 8 KG APROX
                                            </h4>
                                        </div>
                                        <!--/ Title element -->
                                    </div>
                                    <!--/ col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm- -->

                                    <div class="col-sm-12 col-md-12">
                                        <!-- Content -->
                                        <div class="prt-hover-slidein">
                                            <!-- Title element -->
                                            <div class="kl-title-block text-center">
                                                <!-- Sub-title -->
                                                <h4 class="tbk__subtitle">
                                                    Disfruta de 1 MES de tratamiento
                                                </h4>
                                            </div>
                                            <!--/ Title element -->
                                        </div>
                                        <!--/ Content -->
                                    </div>
                                    <!--/ col-sm-12 col-md-12 -->
                                </div>
                                <!--/ row -->
                            </div>
                            <!--/ Media container alternative content - bottom style -->
                        </div>
                        <!--/ Media container alternative style with custom content (custom height .h-500) -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-4 mb-sm-30 -->

                    <div class="col-sm-12 col-md-6 col-lg-4 mb-md-30">
                        <!-- Media container alternative style with custom content (custom height .h-600) -->
                        <div class="media-container media-container--type-pb h-600">
                            <!-- Background -->
                            <div class="kl-bg-source">
                                <!-- Background image -->
                                <div class="kl-bg-source__bgimage" style="background-image: url(images/plan2.jpg); background-repeat: repeat; background-attachment :scroll; background-position: center center; background-size: cover;">
                                </div>

                                <!-- Overlay -->
                                <div class="kl-bg-source__overlay" style="background: rgba(10,10,10,0.16); background: -moz-linear-gradient(top,  rgba(10,10,10,0.16) 0%, rgba(20,20,20,0.76) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,10,10,0.16)), color-stop(100%,rgba(20,20,20,0.76))); background: -webkit-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -o-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -ms-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: linear-gradient(to bottom,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%);">
                                </div>
                            </div>
                            <!--/ Background -->

                            <!-- Media container alternative content - bottom style -->
                            <div class="media-container-pb media-container-pb--alg-bottom text-center">
                                <div class="row">
                                    <div class="col-sm-8 col-md-8 col-lg-8 offset-sm-2 offset-md-2 offset-lg-2">
                                        <!-- Title element -->
                                        <div class="kl-title-block text-center">
                                            <!-- Title with custom weight and color -->
                                            <h2 class="fw-bold white">
                                                SOBREPESO
                                            </h2>

                                            <!-- Sub-title with default template color -->
                                            <h4 class="tbk__subtitle tcolor">
                                                PIERDE DE 9 A 18 KG APROX
                                            </h4>
                                        </div>
                                        <!--/ Title element -->
                                    </div>
                                    <!--/ col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm- -->

                                    <div class="col-sm-12 col-md-12">
                                        <!-- Content -->
                                        <div class="prt-hover-slidein">
                                            <!-- Title element -->
                                            <div class="kl-title-block text-center">
                                                <!-- Sub-title -->
                                                <h4 class="tbk__subtitle">
                                                    Tu mejor opción que incluye 4 MESES de tratamientos
                                                </h4>
                                            </div>
                                            <!--/ Title element -->
                                        </div>
                                        <!--/ Content -->
                                    </div>
                                    <!--/ col-sm-12 col-md-12 -->
                                </div>
                                <!--/ row -->
                            </div>
                            <!--/ Media container alternative content - bottom style -->
                        </div>
                        <!--/ Media container alternative style with custom content (custom height .h-500) -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-4 mb-md-30 -->

                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <!-- Media container alternative style with custom content (custom height .h-600) -->
                        <div class="media-container media-container--type-pb h-600">
                            <!-- Background -->
                            <div class="kl-bg-source">
                                <!-- Background image -->
                                <div class="kl-bg-source__bgimage" style="background-image: url(images/plan3.jpg); background-repeat: repeat; background-attachment :scroll; background-position: center center; background-size: cover;">
                                </div>

                                <!-- Overlay -->
                                <div class="kl-bg-source__overlay" style="background: rgba(10,10,10,0.16); background: -moz-linear-gradient(top,  rgba(10,10,10,0.16) 0%, rgba(20,20,20,0.76) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,10,10,0.16)), color-stop(100%,rgba(20,20,20,0.76))); background: -webkit-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -o-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: -ms-linear-gradient(top,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%); background: linear-gradient(to bottom,  rgba(10,10,10,0.16) 0%,rgba(20,20,20,0.76) 100%);">
                                </div>
                            </div>
                            <!--/ Background -->

                            <!-- Media container alternative content - bottom style -->
                            <div class="media-container-pb media-container-pb--alg-bottom text-center">
                                <div class="row">
                                    <div class="col-sm-8 col-md-8 col-lg-8 offset-sm-2 offset-md-2 offset-lg-2">
                                        <!-- Title element -->
                                        <div class="kl-title-block text-center">
                                            <!-- Title with custom weight and color -->
                                            <h2 class="fw-bold white">
                                                OBESIDAD
                                            </h2>

                                            <!-- Sub-title with default template color -->
                                            <h4 class="tbk__subtitle tcolor">
                                                PIERDE MAS DE 15 KG
                                            </h4>
                                        </div>
                                        <!--/ Title element -->
                                    </div>
                                    <!--/ col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-md-8 col-sm- -->

                                    <div class="col-sm-12 col-md-12">
                                        <!-- Content -->
                                        <div class="prt-hover-slidein">
                                            <!-- Title element -->
                                            <div class="kl-title-block text-center">
                                                <!-- Sub-title -->
                                                <h4 class="tbk__subtitle">
                                                    Aprovecha esta oferta que incluye 7 MESES de tratamientos.
                                                </h4>
                                            </div>
                                            <!--/ Title element -->
                                        </div>
                                        <!--/ Content -->
                                    </div>
                                    <!--/ col-sm-12 col-md-12 -->
                                </div>
                                <!--/ row -->
                            </div>
                            <!--/ Media container alternative content - bottom style -->
                        </div>
                        <!--/ Media container alternative style with custom content (custom height .h-500) -->
                    </div>
                    <!--/ col-sm-12 col-md-12 col-lg-4 -->
                </div>
                <!--/ row -->
            </div>
            <!--/ container -->
        </section>
        <!-- PLANES FIN-->

        <!-- Photo wall element - section with custom paddings -->
        <div class="col-md-12">
            <!-- Photo wall element -->
            <!--vue awesome swiper-->

            <md-card>
                <md-card-media>
                    <!-- swiper -->
                    <swiper :options="swiperOption" class="gallery-top">
                        <swiper-slide >
                            <b-img fluid  src="images/1.jpg"/>
                        </swiper-slide>
                        <swiper-slide >
                            <b-img fluid src="images/testimonios/testimonio2.jpg"/>
                        </swiper-slide >
                        <swiper-slide >
                            <b-img fluid src="images/testimonios/testimonio3.jpg"/>
                        </swiper-slide>
                        <swiper-slide >
                            <b-img fluid src="images/testimonios/testimonio4.jpg"/>
                        </swiper-slide>
                        <swiper-slide >
                            <b-img fluid src="images/testimonios/testimonio5.png"/>
                        </swiper-slide>
                        <swiper-slide >
                            <b-img fluid  src="images/testimonios/testimonio6.jpg"/>
                        </swiper-slide>
                        <swiper-slide >
                            <b-img fluid src="images/testimonios/testimonio7.jpg"/>
                        </swiper-slide>
                        <div class="swiper-pagination" slot="pagination"></div>
                        <div class="swiper-button-prev" slot="button-prev"></div>
                        <div class="swiper-button-next" slot="button-next"></div>
                    </swiper>
                </md-card-media>
            </md-card>
            <!--/ Photo wall element -->
        </div>
        <!--/ Photo wall element - section with custom paddings -->

        <!-- Contact form element & details section with custom paddings -->
        <section class="hg_section pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-9 mb-sm-30">
                        <!-- Contact form element -->
                        <div class="contactForm">
                            <form action="php_helpers/_contact-process.php" method="post" class="contact_form row" enctype="multipart/form-data">
                                <!-- Response wrapper -->
                                <div class="cf_response"></div>

                                <div class="col-sm-6 kl-fancy-form">
                                    <input type="text" name="name" id="cf_name" class="form-control" placeholder="Ingresa tu nombre aquí" value="" tabindex="1" maxlength="35" required>
                                    <label class="control-label">
                                        NOMBRES
                                    </label>
                                </div>

                                <div class="col-sm-6 kl-fancy-form">
                                    <input type="text" name="lastname" id="cf_lastname" class="form-control" placeholder="Ingresa tus apellidos aquí" value="" tabindex="1" maxlength="35" required>
                                    <label class="control-label">
                                        APELLIDOS
                                    </label>
                                </div>

                                <div class="col-sm-12 kl-fancy-form">
                                    <input type="text" name="email" id="cf_email" class="form-control h5-email" placeholder="Agrega tu email aqui" value="" tabindex="1" maxlength="35" required>
                                    <label class="control-label">
                                        EMAIL
                                    </label>
                                </div>

                                <div class="col-sm-12 kl-fancy-form">
                                    <input type="text" name="subject" id="cf_subject" class="form-control" placeholder="Ingresa el motivo o asunto" value="" tabindex="1" maxlength="35" required>
                                    <label class="control-label">
                                        ASUNTO
                                    </label>
                                </div>

                                <div class="col-sm-12 kl-fancy-form">
                                    <textarea name="message" id="cf_message" class="form-control" cols="30" rows="10" placeholder="Tu mensaje aquí" tabindex="4" required></textarea>
                                    <label class="control-label">
                                        MENSAJE
                                    </label>
                                </div>

                                <!-- Google recaptcha required site-key (change with yours => https://www.google.com/recaptcha/admin#list) -->
                                <div class="g-recaptcha" data-sitekey="SITE-KEY"></div>
                                <!--/ Google recaptcha required site-key -->

                                <div class="col-sm-12">
                                    <!-- Contact form send button -->
                                    <button class="btn btn-fullcolor" type="submit">
                                        Enviar
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--/ Contact form element -->
                    </div>
                    <!--/ col-sm-12 col-md-9 col-lg-9 mb-sm-30 -->

                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Contact details -->
                        <div class="text_box">
                            <!-- Title -->
                            <h3 class="text_box-title text_box-title--style2">
                                INFORMACIÓN DE CONTACTO
                            </h3>

                            <!-- Sub-title -->
                            <h4>21 de mayo Nº 328, Coyhaique</h4>

                            <!-- Description -->
                            <p>
                                569 59244590<br>
                                67 2239911
                            </p>

                            <p>
                                <a href="mailto:contacto@doctorloyola.cl">contacto@doctorloyola.cl</a><br>
                                <a href="http://www.doctorloyola.cl/">www.doctorloyola.cl</a>
                            </p>
                        </div>
                        <!--/ Contact details -->
                    </div>
                    <!--/ col-sm-12 col-md-3 col-lg-3 -->
                </div>
                <!--/ .row -->
            </div>
            <!--/ .container -->
        </section>
        <!--/ Contact form element & details section with custom paddings -->




        <!-- Footer - Default Style 1 -->
        <footer id="footer" data-footer-style="1">
            <div class="container">
                <div class="row">
                </div>
                <!--/ row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="bottom clearfix">
                            <!-- social-icons -->
                            <ul class="social-icons sc--clean clearfix">
                                <li class="title">SIGUENOS</li>
                                <li><a href="#" target="_self" class="fab fa-facebook-f" title="Facebook"></a></li>
                                <li><a href="#" target="_self" class="fab fa-twitter" title="Twitter"></a></li>
                                <li><a href="#" target="_self" class="fab fa-dribbble" title="Dribbble"></a></li>
                                <li><a href="#" target="_self" class="fab fa-google-plus-g" title="Google Plus"></a></li>
                            </ul>
                            <!--/ social-icons -->

                            <!-- copyright -->
                            <div class="copyright">
                                <a href="index.html">

                                    <b-img src="images/PNG-footer.png"/>


                                </a>

                                <p>
                                    © 2019 Sitio web desarrollado por <a href="http://www.netpatagonia.cl">Net Patagonia - Diseño web y marketing digital</a>.
                                </p>
                            </div>
                            <!--/ copyright -->
                        </div>
                        <!--/ bottom -->
                    </div>
                    <!--/ col-sm-12 -->
                </div>
                <!--/ row -->
            </div>
            <!--/ container -->
        </footer>
        <!--/ Footer - Default Style 1 -->
    </div>
    <!--/ Page Wrapper -->

    <!-- Login Panel content -->
    <div id="login_panel" class="mfp-hide loginbox-popup auth-popup">
        <div class="inner-container login-panel auth-popup-panel">


            <div class="yz-widget" data-calculator-type="bmi" data-language="es" data-unit-system="metric" data-background-color="#EEEEEE" data-text-color="#212121" data-primary-color="#03A9F4" data-alternate-background-color="#FFFFFF" data-alternate-text-color="#FFFFFF" data-secondary-color="#FFC107"><span class="yz-copyright">Powered by <a href="https://www.yazio.com/es/calculadora-imc">YAZIO</a></span></div>

        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
    <!--/ Login Panel content -->

    <!-- Contact form pop-up element content -->
    <div id="contact_panel" class="mfp-hide contact-popup">
        <div class="contact-popup-panel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Contact form pop-up element -->
                        <div class="contactForm pop-up-form">
                            <!-- Google reCaptcha required javascript file -->


                            <!-- Title -->
                            <h3 class="m_title m_title_ext text-custom contact-popup-title tcolor">
                                GET A QUOTE
                            </h3>
                            <h4 class="tbk__subtitle fw-thin">
                                We'll do everything we can to make our next best project!
                            </h4>

                            <form action="php_helpers/_contact-process.php" method="post" class="contact_form row mt-40" enctype="multipart/form-data">
                                <div class="cf_response"></div>

                                <div class="col-sm-6 kl-fancy-form">
                                    <input type="text" name="name" id="cf_name-pop-up" class="form-control" placeholder="Please enter your first name" value="" tabindex="1" maxlength="35" required>
                                    <label class="control-label">
                                        FIRSTNAME
                                    </label>
                                </div>

                                <div class="col-sm-6 kl-fancy-form">
                                    <input type="text" name="lastname" id="cf_lastname-pop-up" class="form-control" placeholder="Please enter your first last name" value="" tabindex="1" maxlength="35" required>
                                    <label class="control-label">
                                        LASTNAME
                                    </label>
                                </div>

                                <div class="col-sm-12 kl-fancy-form">
                                    <input type="text" name="email" id="cf_email-pop-up" class="form-control h5-email" placeholder="Please enter your email address" value="" tabindex="1" maxlength="35" required>
                                    <label class="control-label">
                                        EMAIL
                                    </label>
                                </div>

                                <div class="col-sm-12 kl-fancy-form">
                                    <input type="text" name="subject" id="cf_subject-pop-up" class="form-control" placeholder="Enter the subject message" value="" tabindex="1" maxlength="35" required>
                                    <label class="control-label">
                                        SUBJECT
                                    </label>
                                </div>

                                <div class="col-sm-12 kl-fancy-form">
                                    <textarea name="message" id="cf_message-pop-up" class="form-control" cols="30" rows="10" placeholder="Your message" tabindex="4" required></textarea>
                                    <label class="control-label">
                                        MESSAGE
                                    </label>
                                </div>

                                <!-- Google recaptcha required site-key (change with yours => https://www.google.com/recaptcha/admin#list) -->
                                <div class="g-recaptcha" data-sitekey="SITE-KEY"></div>
                                <!--/ Google recaptcha required site-key -->

                                <div class="col-sm-12">
                                    <!-- Contact form send button -->
                                    <button class="btn btn-fullcolor" type="submit">
                                        Send
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--/ Contact form pop-up element -->
                    </div>
                    <!--/ col-md-12 col-sm-12 -->
                </div>
                <!--/ .row -->
            </div>
            <!--/ .container -->
        </div>
        <!--/ .contact-popup-panel -->
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
    <!--/ Contact form pop-up element content -->


    <!-- ToTop trigger -->
    <a href="#" id="totop">TOP</a>
    <!--/ ToTop trigger -->
</div>
</template>

<script>
    export default {
     data() {
         return {
             swiperOption: {
                 spaceBetween: 30,
                 centeredSlides: true,
                 autoplay: {
                     delay: 2500,
                     disableOnInteraction: false
                 },
                 pagination: {
                     el: '.swiper-pagination',
                     clickable: true
                 },
                 navigation: {
                     nextEl: '.swiper-button-next',
                     prevEl: '.swiper-button-prev'
                 }
             }
         }
     }
    }

</script>

<style scoped>
    .swiper-container {
        background-color: #000;

    }
    .gallery-top {
        height: -webkit-fill-available;
    }
    .letras_nav{
        color: white;
        font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial","sans-serif";
        font-size: 0.7rem;
    }
</style>